<% if current_user != @user %>

  <div id="favorite_form">
  
    <% if current_user.favoriting?(@user) %>
    
        
    <%= render partial: 'unfavorite', locals: {micropost_id: micropost_id} %>
    
      
    <% else %>
    
        
    <%= render partial: 'favorite', locals: {micropost_id: micropost_id} %>
    
      
    <% end %>

  </div>
<% end %>