<%= form_for(@micropost) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="field">
        <% #placeholderをオプションに渡すことで、テキスト入力欄に仮の文字列を表示 %>
        <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    </div>
    
    <%= f.submit "Post", class: "btn btn-primary" %>

<% end %>
